[submodule "subprojects/json"]
	path = subprojects/json
	url = https://github.com/nlohmann/json
[submodule "subprojects/filament"]
	path = subprojects/filament
	url = https://github.com/google/filament
[submodule "subprojects/glfw"]
	path = subprojects/glfw
	url = https://github.com/glfw/glfw
[submodule "subprojects/libjxl"]
	path = subprojects/libjxl
	url = https://github.com/libjxl/libjxl
